@import 'semantic-ui';

.ui.card,
.ui.cards>.card {
  background-color: #e0e0e0;
}

.ui.placeholder.segment {
	background-color: #e0e0e0;	
}

.chatbox {
	height: 450px;
}

#messages {
	height: 15em;
	overflow: auto;
}

.input {
	button {
		display: none;
	}
}
